!!!
%head{:lang=>"en"}
  %meta{:name=>"viewport", :content => "width=device-width, initial-scale=1.0", :charset => "UTF-8"}
  %title ourstory
  %link{:href => "/3rdparty/bootstrap-3.3.7/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "/static/css/style.css", :rel => "stylesheet", :type => "text/css"}

  %script{:src => "/3rdparty/jquery/jquery-3.2.1.min.js", :type => "text/javascript"}
  %script{:src => "/3rdparty/bootstrap-3.3.7/js/bootstrap.min.js", :type => "text/javascript"}

%body
  .container-fluid
    .row.col-lg-12 this our story ...